body{
    background-color: gray;
}
.mainTxt{
    color:blue;
    font-size: 100px;
    text-align: center;
    margin-top: 1%;
}
.checked{
    text-decoration: line-through;
}
.inputbox{
    position: relative;
    margin-left:42%;
    margin-top: 3%;
    width: fit-content;
}
.inputbox input{
    height: 50px;
    width: 350px;
}
.inputbox button{
    height: 50px;
}
ul{
    position: relative;
    left: 41%;
    margin-top: 1%;
    font-size: large;
}
